header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5px;
  background-color: #333;
 color: #31de79;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

h1 {
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
  justify-content: center;
  
}

nav a {
  margin-right: 24px;
  text-decoration: none;
  color: white;
  transition: 0.3s ease-in-out;
}
nav a:hover{
  color:  aquamarine;
}
nav a:hover::after{
  content: "";
  width: 7%;
  height: 2px;
  background-color: aquamarine;
  position: absolute;
  bottom: -4px; 
   margin-left: -40px;
}

.nav-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  display: none;
  margin-right: 30px;
}

.nav-close-btn {
  display: none;
}

.responsive_nav {
  transform: translateX(0);

}
@media (max-width: 768px) {
  
  .nav-btn {
    display: block;
    color: white;
  }

  nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #333;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
  }

  nav a {
    margin: 24px 0;
    color:  white;
    display: flex;
  }

  .nav-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    color: white;
  }
  
  .responsive_nav {
    transform: translateX(0);
  }
  .header {
    padding: 0 5px;
  }
  nav a {
    margin-right: 19px;
  }
 
}
@media (min-width: 1280px){
   h1 {
    margin: 0;
    padding-left: 80px;
  } 
  nav a {
    margin-right: 60px;
  }

}
@media (min-width: 576px){
  .header {
    padding: 0 5px;
  }
}